contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
imageio==2.33.1
kiwisolver==1.4.5
lazy_loader==0.3
Levenshtein==0.23.0
lxml==5.1.0
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.3
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pyarrow==15.0.0
PyMuPDF==1.23.18
PyMuPDFb==1.23.9
pyparsing==3.1.1
pyssim==0.7
python-dateutil==2.8.2
python-Levenshtein==0.23.0
pytz==2023.3.post1
rapidfuzz==3.6.1
requests==2.31.0
scikit-image==0.22.0
scipy==1.11.4
setuptools==68.2.2
six==1.16.0
tifffile==2023.12.9
tqdm==4.66.1
tzdata==2023.4
wheel==0.41.2
